<ion-header>
  <ion-toolbar>
    <ion-title>
      Sample App with Datepicker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Select a date from future</ion-label>
      <input type="date" [(ngModel)]="selectedDate" name="selectedDate">
    </ion-item>
    <ion-button type="submit" expand="block" [disabled]="form.invalid">Submit</ion-button>
  </form>

  <div *ngIf="submitted">
    <h2 style="font-weight: 600">Selected Dates</h2>
    <ul style="border: 5px solid red; padding: 5px">
      <li><b>Today:</b> {{ today }}</li>
      <li><b>Yesterday:</b> {{ yesterday }}</li>
      <li><b>10 days past selected date:</b> {{ tenDaysPast }}</li>
      <li><b>1 year past selected date:</b> {{ oneYearPast }}</li>
    </ul>
  </div>
</ion-content>
